<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>114674423167-9jrlse7t7cnd80d7mt3ovgelec0tr8pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114674423167-9jrlse7t7cnd80d7mt3ovgelec0tr8pf</string>
	<key>API_KEY</key>
	<string>AIzaSyAhb9XMpbsJVYgbIxfND5WP3lXP_U5Rx_0</string>
	<key>GCM_SENDER_ID</key>
	<string>114674423167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lil9porkchop.SongBar</string>
	<key>PROJECT_ID</key>
	<string>song-bar</string>
	<key>STORAGE_BUCKET</key>
	<string>song-bar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:114674423167:ios:5daf1e44f9e4b3f4</string>
	<key>DATABASE_URL</key>
	<string>https://song-bar.firebaseio.com</string>
</dict>
</plist>
